# Salarios de científicos de datos

---
Este documento busca crear una regresión lineal que pronostique los salarios en dólares de un cientifico de datos basándose en el nivel de experiencia, salario, tipo de empleo, y radio remoto.

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
from scipy import stats
import statsmodels.api as sm

## Preparación de los datos

In [3]:
df = pd.read_csv('ds_salaries.csv')
df.head()

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L

In [ ]:
df.shape

In [ ]:
df.isnull().sum()

In [ ]:
# Se crea el dataframe sólo con los datos relevantes
df = pd.DataFrame({'experience_level': df['experience_level'], 'employment_type' : df['employment_type'], 'salary' : df['salary'], 'salary_in_usd' : df['salary_in_usd'], 'remote_ratio' : df['remote_ratio']})
df.head()

In [ ]:
# Se hacen dummies para tener un valor numérico de los datos en texto
dummies_experience_level = pd.get_dummies(df['experience_level'], prefix='experience_level')
dummies_experience_level

In [ ]:
dummies_employment_type = pd.get_dummies(df['employment_type'], prefix='employment_type')
dummies_employment_type

In [ ]:
df = pd.concat([df, dummies_employment_type, dummies_experience_level], axis=1)
df.drop('experience_level', axis = 1, inplace=True)
df.drop('employment_type', axis = 1, inplace=True)
df